html, body { 
    background: #FFF;
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_viewport{
    background: #00000000;
}

canvas {
    display: block;
    width: 100%;
}